<template>
    <section class="container">
        <hr>
        <h5 class="strong" align="center">Администрирование</h5>
        <hr>
        <router-link class="button u-full-width" to="/settings/portal">Управление порталом</router-link>
        <router-link class="button u-full-width" to="/settings/usertable">Пользователи</router-link>
        <router-link class="button u-full-width" to="/settings/debug">debug</router-link>
        <router-link class="button u-full-width" to="/settings/live">live wall <span class="unread" title="Кол-во не прочитанных">13</span></router-link>
    </section>
</template>

<script>
export default {
    name: 'adminSettings',
};
</script>
