<template>
    <div class="settings">
        <userSettings/>
        <teacherSettings v-if="checkRights('teacher')"/>
        <adminSettings v-if="checkRights('admin')"/>
        <exitMenu/>
    </div>
</template>

<script>
import userSettings from './user.vue';
import teacherSettings from './teacher.vue';
import adminSettings from './admin.vue';
import exitMenu from '@/components/menus/exit';

export default {
    name: 'mainSettings',
    components: {
        userSettings,
        teacherSettings,
        adminSettings,
        exitMenu,
    }
};
</script>

<style>

</style>
