<template>
    <section class="container row">
        <hr>
        <h5 class="strong" align="center">Редактирование</h5>
        <hr>
        <router-link class="button u-full-width" to="/settings/news">Новости <span class="unread" title="Кол-во не прочитанных">2</span></router-link>
        <router-link class="button u-full-width" to="/settings/upload">Загрузка лекции</router-link>
    </section>
</template>

<script>
export default {
    name: 'teacherSettings',
};
</script>
