<template>
    <section class="container row">
        <router-link class="button u-full-width" to="/settings/account">Аккаунт</router-link>
        <router-link class="button u-full-width" to="/settings/passwd">Изменение пароля</router-link>
        <router-link class="button u-full-width" to="/settings/request_group">Заявка на измение группы</router-link>
        <router-link class="button u-full-width" to="/settings/request_editor">Заявка на редактора</router-link>
        <router-link class="button u-full-width" to="/settings/about">О портале</router-link>
    </section>
</template>

<script>
export default {
    name: 'userSettings',
};
</script>
