<template>
    <section class="container usertablepage">
        <h5>Фильтры</h5>
        <hr>
        <div class="row">
            <div class="four columns">
                <input id="filter_1" v-model="fullname" type="checkbox" name="filters">
                <label for="filter_1">Показывать ФИО</label>
            </div>
            <div class="four columns">
                <input id="filter_2" v-model="multiSelect" type="checkbox" name="filters">
                <label for="filter_2">Мультивыбор</label>
            </div>
            <div class="four columns">
                <input id="filter_3" v-model="onlyStudents" type="checkbox" name="filters">
                <label for="filter_3">Вывод только студентов</label>
            </div>
        </div>
        <hr>
        <table class="u-full-width usertable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Login</th>
                    <th v-show="fullname">FullName</th>
                    <th>Rights</th>
                </tr>
            </thead>
            <transition-group name="table" tag="tbody">
                <tr v-for="user in users" :key="user.id" class="tableelem">
                    <td>{{user.id}}</td>
                    <td>
                        <router-link
                            :to="'/settings/usertable/account/id' + user.id"
                            class="button"
                        >{{user.login}}</router-link>
                    </td>
                    <td v-show="fullname">{{user.fullname}}</td>
                    <td>{{user.rights}}</td>
                </tr>
            </transition-group>
        </table>
    </section>
</template>

<script>
export default {
    name: 'userTable',
    data() {
        return {
            fullname: false,
            multiSelect: false,
            onlyStudents: false,
            timer: null,
        };
    },
    computed: {
        users() {
            if (this.onlyStudents) return this.$store.state.users.filter(user => user.rights === 'user');
            return this.$store.state.users;
        },
    },
    created() {
        const nowTime = new Date() - 0;
        const lastUpdate = this.$store.state.time.tableUsersUpdate;
        const updateTime = 5000;
        setTimeout(() => {
            this.$store.dispatch('GetUsersTable');
            this.timer = setInterval(() => {
                this.$store.dispatch('GetUsersTable');
            }, updateTime);
        }, ((nowTime - lastUpdate) < updateTime) ? (updateTime - (nowTime - lastUpdate)) : 0);
    },
    beforeDestroy() {
        clearTimeout(this.timer);
    },
};
</script>

<style>
    .usertablepage input[type="checkbox"] {
        display: none;
    }
    .table-enter, .table-leave-to {
        opacity: 0;
        transform: translateY(30px);
    }
    .table-move {
        transition: all 1s;
    }
    .tableelem {
        transition: all 1s;
    }
    .usertable a {
        margin: 0;
        border: 0;
        color: #2196f3;
    }
    .usertable thead tr th {
        text-align: center;

    }
    .usertable tbody tr td {
        text-align: center;
    }
</style>
