<template>
    <section class="container">
        <h5>Основная информация</h5>
        <table class="u-full-width">
            <tbody>
                <tr>
                    <th style="text-align: left;">Пользователь:</th>
                    <td colspan="2">{{user.login}}</td>
                </tr>
                <tr>
                    <th style="text-align: left;">Роль:</th>
                    <td>{{user.rights}}</td>
                    <td style="text-align: right;"><a href="#">✏</a></td>
                </tr>
                <tr>
                    <th style="text-align: left;">ФИО:</th>
                    <td>{{user.fullname}}</td>
                    <td style="text-align: right;"><a href="#">✏</a></td>
                </tr>
                <tr>
                    <th style="text-align: left;">Шифр:</th>
                    <td>{{user.cipher}}</td>
                    <td style="text-align: right;"><a href="#">✏</a></td>
                </tr>
                <tr>
                    <th style="text-align: left;">Курс:</th>
                    <td>{{course}}</td>
                    <td style="text-align: right;"><a href="#">✏</a></td>
                </tr>
                <tr>
                    <th style="text-align: left;">Группа:</th>
                    <td>{{user.subgroup}}</td>
                    <td style="text-align: right;"><a href="#">✏</a></td>
                </tr>
                <tr>
                    <th style="text-align: left;">Верифицирован:</th>
                    <td>{{user.verified}}</td>
                    <td style="text-align: right;"><a href="#">✏</a></td>
                </tr>
            </tbody>
        </table>
        <h5>Связь</h5>
        <table class="u-full-width">
            <tbody>
                <tr>
                    <th style="text-align: left;">E-mail:</th>
                    <td>{{user.email}}</td>
                    <td style="text-align: right;"><a href="#">✏</a></td>
                </tr>
                <tr>
                    <th style="text-align: left;">VKID:</th>
                    <td><a :href="'//vk.com/'+user.vkid">{{user.vkid}}</a></td>
                    <td style="text-align: right;"><a href="#">✏</a></td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="u-pull-left negative">Удалить</button>
        <input id="ban_checkbox" style="display: none;" type="checkbox">
        <label for="ban_checkbox" class="u-pull-right" style="margin-top: 0.8rem;">Заблокировать</label>
    </section>
</template>

<script>
export default {
    name: 'userProfile',
    computed: {
        user() {
            const User = this.$store.state.users.find(user => user.id === this.$route.params.id - 0);
            if (User) return User;
            return {
                id: this.$route.params.id - 0, login: null, rights: null, fullname: null, subgroup: null, email: null, vkid: null, verified: null, cipher: null,
            };
        },
        course() {
            const date = new Date();
            if (this.user.subgroup) {
                const result = (date.getFullYear() - 2000 - this.user.subgroup.substr(-2, 2)) + ((date.getMonth() < 7) ? 1 : 0);
                return (result <= 6) ? result : 6;
            }
            return null;
        },
    },
    created() {
        this.$store.dispatch('GetUser', this.$route.params.id - 0).then((user) => {
            this.$set(this, 'user', user);
        }).catch((err) => {
            if (err.message === 'redir') this.$router.replace({ name: 'UserTable' });
            else console.log(err);
        });
    },
};
</script>
