<template>
    <div class="Home">
        <nav class="container">
            <div class="row mainmenu">
                <router-link class="button u-pull-left" to="/settings">Настройки</router-link>
                <router-link class="button button-primary u-pull-right" to="/test">Тесты</router-link>
                <button class="button u-pull-right" @click="logout">Выход</button>
            </div>
            <hr style="margin-top: 0;">
        </nav>
    </div>
</template>

<script>
export default {
    name: 'Home',
};
</script>

<style>
    .mainmenu {
    margin-top: 1.5rem;
        margin-bottom: 0.6rem;
    }
    .mainmenu a, .mainmenu button {
        min-width: 120px;
        margin-right: 10px;
        margin-left: 10px;
    }
</style>
