<template>
    <section class="container login">
        <router-link class="button" to="/">Назад</router-link>
        <form id="js_form_auth" class="eight columns offset-by-two" v-on:submit.prevent="auth">
            <h4 class="u-full-width">{{text}}</h4>
            <hr>
            <center>
                <transition name="auth-err">
                    <strong v-show="error">Неправильные логин или пароль</strong>
                </transition>
            </center>
            <input v-model="login" class="u-full-width" type="text" required placeholder="Логин"/>
            <input v-model="password" class="u-full-width" type="password" required placeholder="Пароль"/>
            <hr>
            <button class="u-pull-left button-primary" type="submit">Войти</button>
            <router-link class="button u-pull-right" to="/register">Регистрация</router-link>
        </form>
    </section>
</template>

<script>
export default {
    name: 'Login',
    data() {
        return {
            text: '',
            error: false,
            login: '',
            password: '',
        };
    },
    watch: {
        login() { this.error = false; },
        password() { this.error = false; },
    },
    methods: {
        auth() {
            const { login, password } = this;
            this.$store.dispatch('AUTH_REQ', { login, password }).then(() => {
                this.text += 'good';
                this.error = false;
                this.$router.push('/');
            }).catch((err) => {
                this.text += err;
                console.log(err);
                this.error = true;
            });
        },
    },
};
</script>

<style>
    .auth-err-enter-active, .auth-err-leave-active {
        transition: opacity .5s;
    }
    .auth-err-enter, .auth-err-leave-to {
        opacity: 0;
    }
    .login hr {
        margin-bottom: 0;
    }
    .login strong {
        position: relative;
        background-color: #FF7F7FFF;
        top: 0.75rem;
        line-height: 2rem;
        padding: 1rem;
        border-radius: 5px;
    }
    .login center {
        position: relative;
        height: 4rem;
        overflow: hidden;
    }
    .login {
        margin-top: 6rem;
    }
    @media(min-width: 1000px) {
        .login {
            margin-top: 20rem;
        }
    }
</style>
