<template>
    <home v-if="checkRights('user')"/>
    <welcome v-else/>
</template>

<script>
import Home from './Home.vue';
import Welcome from './Welcome.vue';

export default {
    name: 'Main',
    components: {
        Home,
        Welcome,
    },
};
</script>
