<template>
    <section class="container row">
        <h6 style="text-align: center;">К сожалению, в данной версии тестирующая система отсутствует</h6>
    </section>
</template>

<script>
export default {
    name: 'tests',
    // components: {
    //     async: () => import('../components/async.vue'),
    // },
};
</script>
