<template>
    <div class="welcome">
        <section class="container header">
            <div class="row">
                <h2 style="text-align: center;"><b>Все лекции - в вашем кармане</b></h2>
            </div>
            <div class="row buttons" style="text-align: center;">
                <router-link class="button button-primary" to="/login">Вход</router-link>
                <router-link class="button" to="/example">Демо</router-link>
            </div>
            <div class="row value-props">
                <div class="four columns value-prop">
                    <img src="/sys/img/feather.svg"/>
                    <figcaption><b>Легкий</b><br/>Предельно простой и понятный интерфейс, специально для вас!</figcaption>
                </div>
                <div class="four columns value-prop">
                    <img src="/sys/img/pens.svg"/>
                    <figcaption><b>Множество инструментов</b><br/>Каждая деталь - для удобного просмотра лекций.</figcaption>
                </div>
                <div class="four columns value-prop">
                    <img src="/sys/img/watch.svg"/>
                    <figcaption><b>Экономит время</b><br/>Вы забудете, что такое долго повторять - все в легкой доступности!</figcaption>
                </div>
            </div>
        </section>
        <section class="container">
            <welcomeBlock title="Text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
            </welcomeBlock>
            <welcomeBlock title="Text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
            </welcomeBlock>
            <welcomeBlock title="Text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
            </welcomeBlock>
            <div class="row">
                <router-link class="button six columns offset-by-three" to="/login">Вход\Регистрация</router-link>
            </div>
        </section>
    </div>
</template>

<script>
import welcomeBlock from '@/components/welcomeBlock.vue';

export default {
    name: 'Welcome',
    components: {
        welcomeBlock,
    },
};
</script>

<style>
    .welcome .buttons .button{
        margin-left: 2px;
        margin-right: 2px;
    }
    .header {
        margin-top: 6rem;
    }
    .value-props {
        margin-top: 4rem;
        text-align: center;
        margin-bottom: 4rem;
    }
    .value-props .value-prop {
        margin-top: 4rem;
    }
    .about {
        margin-top: 8rem;
    }
    .buttons {
        margin-top: 2rem;
    }
    @media(min-width: 550px) {
        .header {
            margin-top: 2rem;
        }
        .value-props {
            margin-top: 9rem;
            margin-bottom: 7rem;
        }
        .buttons {
            margin-top: 4rem;
        }
    }
    @media(min-width: 750px) {
        .header {
            margin-top: 18rem;
        }
    }
</style>
