<template>
    <nav class="container">
        <div class="row backmenu">
            <router-back class="button u-pull-left">Назад</router-back>
            <h4 class="u-pull-right">{{title}}</h4>
        </div>
        <hr style="margin-top: 0;">
    </nav>
</template>

<script>
export default {
    name: 'backMenu',
    props: {
        title: {
            type: String,
            required: true,
        },
    },
};
</script>

<style>
    .backmenu {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
    .backmenu h4 {
        margin-top: 0.2rem;
    }
    @media (min-width: 550px) {
        .backmenu h4 {
            margin-bottom: 1.2rem;
        }
    }
</style>
