<template>
    <section class="container">
        <hr>
        <form class="row" @submit.prevent="logout">
            <button type="submit" class="exit u-full-width">Выйти из аккаунта</button>
        </form>
    </section>
</template>

<script>
export default {
    name: 'exitMenu',
};
</script>

<style>
    .exit {
        color: #ff6666;
        border-color: #ff6666;
    }
    .exit:hover {
        border-color: red;
        color: red;
    }
</style>
