<template>
    <div class="async">
        <span @click="al">click me</span>
        <br>
        <span>I'm async</span>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'async',
    created() {
        console.log('async_created');
    },
    methods: {
        al() {
            console.log(this.$store.state.img);
            alert('async');
        },
    },
};
</script>

<style>
    .async span {
        background-color: gray;
    }
</style>
