<template>
    <footer class="container u-center" style="margin-top: 4rem;">
        Unideb Team &copy; {{year}}
    </footer>
</template>

<script>
export default {
    name: 'myFooter',
    data() {
        return {
            year: (new Date()).getFullYear(),
        };
    },
};
</script>
