<template>
    <div>
        <div class="row">
            <div class="ten columns offset-by-one about">
                <h6 class="strong">{{title}}</h6>
                <p><slot></slot></p>
            </div>
        </div>
        <hr/>
    </div>
</template>

<script>
export default {
    name: 'welcomeBlock',
    props: {
        title: {
            type: String,
            required: true,
        },
    },
};
</script>
