<template>
    <div id="app">
        <router-view/>
        <myFooter/>
    </div>
</template>

<script>
export default {
    name: 'App',
    created() {
        this.$store.dispatch('GetSelfUser');
        this.$store.commit('AUTH_TIMER', setInterval(() => {
            this.$store.dispatch('GetSelfUser');
        }, 300000));
    },
};
</script>

<style>
.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>
