/*
* Skeleton
* Copyright 2018, Unideb Team
* https://git.unideb.ru/Web/Skeleton
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/


/* Таблица возможностей ––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Blockquotes
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.column, .columns {
	width: 100%;
	float: left;
	box-sizing: border-box;
}

/* Для устройств больших 400px */
@media (min-width: 400px) {
	.container {
		width: 85%;
		padding: 0;
	}
}

/* Для устройств больших 550px */
@media (min-width: 550px) {
	.container { width: 80%; }
	.column, .columns { margin-left: 4%; }
	.column:first-child, .columns:first-child { margin-left: 0; }

	.one.column,
	.one.columns                    { width: 4.66666666667%;       }
	.two.columns                    { width: 13.3333333333%;       }
	.three.columns                  { width: 22%;                  }
	.four.columns                   { width: 30.6666666667%;       }
	.five.columns                   { width: 39.3333333333%;       }
	.six.columns                    { width: 48%;                  }
	.seven.columns                  { width: 56.6666666667%;       }
	.eight.columns                  { width: 65.3333333333%;       }
	.nine.columns                   { width: 74.0%;                }
	.ten.columns                    { width: 82.6666666667%;       }
	.eleven.columns                 { width: 91.3333333333%;       }
	.twelve.columns                 { width: 100%; margin-left: 0; }

	.one-third.column               { width: 30.6666666667%;       }
	.two-thirds.column              { width: 65.3333333333%;	   }

	.one-half.column                { width: 48%;                  }

	/* Offsets */
	.offset-by-one.column,
	.offset-by-one.columns          { margin-left: 8.66666666667%; }
	.offset-by-two.column,
	.offset-by-two.columns          { margin-left: 17.3333333333%; }
	.offset-by-three.column,
	.offset-by-three.columns        { margin-left: 26%;            }
	.offset-by-four.column,
	.offset-by-four.columns         { margin-left: 34.6666666667%; }
	.offset-by-five.column,
	.offset-by-five.columns         { margin-left: 43.3333333333%; }
	.offset-by-six.column,
	.offset-by-six.columns          { margin-left: 52%;            }
	.offset-by-seven.column,
	.offset-by-seven.columns        { margin-left: 60.6666666667%; }
	.offset-by-eight.column,
	.offset-by-eight.columns        { margin-left: 69.3333333333%; }
	.offset-by-nine.column,
	.offset-by-nine.columns         { margin-left: 78.0%;          }
	.offset-by-ten.column,
	.offset-by-ten.columns          { margin-left: 86.6666666667%; }
	.offset-by-eleven.column,
	.offset-by-eleven.columns       { margin-left: 95.3333333333%; }

	.offset-by-one-third.column,
	.offset-by-one-third.columns    { margin-left: 34.6666666667%; }
	.offset-by-two-thirds.column,
	.offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

	.offset-by-one-half.column,
	.offset-by-one-half.columns     { margin-left: 52%;            }


	.offset-by-one.column:nth-child(n+2),
	.offset-by-one.columns:nth-child(n+2)			{ margin-left: 12.66666666667%;}
	.offset-by-two.column:nth-child(n+2),
	.offset-by-two.columns:nth-child(n+2)			{ margin-left: 21.3333333333%; }
	.offset-by-three.column:nth-child(n+2),
	.offset-by-three.columns:nth-child(n+2)			{ margin-left: 30%;            }
	.offset-by-four.column:nth-child(n+2),
	.offset-by-four.columns:nth-child(n+2)			{ margin-left: 38.6666666667%; }
	.offset-by-five.column:nth-child(n+2),
	.offset-by-five.columns:nth-child(n+2)			{ margin-left: 47.3333333333%; }
	.offset-by-six.column:nth-child(n+2),
	.offset-by-six.columns:nth-child(n+2)			{ margin-left: 56%;            }
	.offset-by-seven.column:nth-child(n+2),
	.offset-by-seven.columns:nth-child(n+2)			{ margin-left: 64.6666666667%; }
	.offset-by-eight.column:nth-child(n+2),
	.offset-by-eight.columns:nth-child(n+2)			{ margin-left: 73.3333333333%; }
	.offset-by-nine.column:nth-child(n+2),
	.offset-by-nine.columns:nth-child(n+2)			{ margin-left: 82.0%;          }
	.offset-by-ten.column:nth-child(n+2),
	.offset-by-ten.columns:nth-child(n+2)			{ margin-left: 90.6666666667%; }
	.offset-by-eleven.column:nth-child(n+2),
	.offset-by-eleven.columns:nth-child(n+2)		{ margin-left: 99.3333333333%; }

	.offset-by-one-third.column:nth-child(n+2),
	.offset-by-one-third.columns:nth-child(n+2)		{ margin-left: 38.6666666667%; }
	.offset-by-two-thirds.column:nth-child(n+2),
	.offset-by-two-thirds.columns:nth-child(n+2)	{ margin-left: 73.3333333333%; }

	.offset-by-one-half.column:nth-child(n+2),
	.offset-by-one-half.columns:nth-child(n+2)		{ margin-left: 56%;            }

}


/* Базовые стили –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Note: html is set to 62.5% so that all the REM measurements throughout
Skeleton are based on 10px sizing. So basically 1.5rem = 15px :) */
html { font-size: 62.5%; }
body {
	font-size: 1.5em;
	line-height: 1.6;
	font-weight: 400;
	font-family: "Jura", Arial, sans-serif;
	color: #222;
}


/* Typography ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 300; 
}
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;	}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem;	}
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem;	}
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem;	}
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem;	}
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; 		}

/* Для устройств больших 550px */
@media (min-width: 550px) {
	h1 { font-size: 5.0rem; }
	h2 { font-size: 4.2rem; }
	h3 { font-size: 3.6rem; }
	h4 { font-size: 3.0rem; }
	h5 { font-size: 2.4rem; }
	h6 { font-size: 1.5rem; }
}

p { margin-top: 0; }


/* Links –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
	color: #1EAEDB;
	text-decoration: none;
	transition: all ease 500ms;
}
a:hover, a:focus {
	color: #0A7090;
}


/* Buttons –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.button, button, input[type="submit"],
input[type="reset"], input[type="button"] {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: #555;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #bbb;
	cursor: pointer;
	box-sizing: border-box;
	user-select: none;
	transition: 0.3s;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	color: #333;
	border-color: #888;
	outline: 0;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	color: #FFF;
	background-color: #33C3F0;
	border-color: #33C3F0;
}
.button.button-primary:hover:not([disabled]),
button.button-primary:hover:not([disabled]),
input[type="submit"].button-primary:hover:not([disabled]),
input[type="reset"].button-primary:hover:not([disabled]),
input[type="button"].button-primary:hover:not([disabled]),
.button.button-primary:focus:not([disabled]),
button.button-primary:focus:not([disabled]),
input[type="submit"].button-primary:focus:not([disabled]),
input[type="reset"].button-primary:focus:not([disabled]),
input[type="button"].button-primary:focus:not([disabled]) {
	color: #FFF;
	background-color: #1EAEDB;
	border-color: #1EAEDB;
}
/* positive & negative buttons */
.button.negative:not(.button-primary):not([disabled]),
button.negative:not(.button-primary):not([disabled]),
input[type="submit"].negative:not(.button-primary):not([disabled]),
input[type="reset"].negative:not(.button-primary):not([disabled]),
input[type="button"].negative:not(.button-primary):not([disabled]) {
	color: #ff6666;
	border-color: #ff6666;
}
.button.negative:hover:not(.button-primary):not([disabled]), 
button.negative:hover:not(.button-primary):not([disabled]),
.button.negative:focus:not(.button-primary):not([disabled]), 
button.negative:focus:not(.button-primary):not([disabled]),
input[type="submit"].negative:hover:not(.button-primary):not([disabled]),
input[type="reset"].negative:hover:not(.button-primary):not([disabled]),
input[type="button"].negative:hover:not(.button-primary):not([disabled]),
input[type="submit"].negative:focus:not(.button-primary):not([disabled]),
input[type="reset"].negative:focus:not(.button-primary):not([disabled]),
input[type="button"].negative:focus:not(.button-primary):not([disabled]) {
	border-color: red;
	color: red;
}
.button.positive:not(.button-primary):not([disabled]),
button.positive:not(.button-primary):not([disabled]),
input[type="submit"].positive:not(.button-primary):not([disabled]),
input[type="reset"].positive:not(.button-primary):not([disabled]),
input[type="button"].positive:not(.button-primary):not([disabled]) {
	color: #66b266;
	border-color: #66b266;
}
.button.positive:hover:not(.button-primary):not([disabled]), 
button.positive:hover:not(.button-primary):not([disabled]),
.button.positive:focus:not(.button-primary):not([disabled]), 
button.positive:focus:not(.button-primary):not([disabled]),
input[type="submit"].positive:hover:not(.button-primary):not([disabled]),
input[type="reset"].positive:hover:not(.button-primary):not([disabled]),
input[type="button"].positive:hover:not(.button-primary):not([disabled]),
input[type="submit"].positive:focus:not(.button-primary):not([disabled]),
input[type="reset"].positive:focus:not(.button-primary):not([disabled]),
input[type="button"].positive:focus:not(.button-primary):not([disabled]) {
	border-color: green;
	color: green;
}
button[disabled],
.button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
	cursor: not-allowed;
	border-color: lightgray;
	background-color: lightgray;
	color: gray;
}


/* Checkboxes –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

input[type="checkbox"] {
	display: none;
}
input[type="checkbox"] + label {
	position: relative;
	padding-left: 3rem;
	cursor: pointer;
	margin-bottom: 1rem;
	user-select: none;
}
input[type="checkbox"] + label:before {
	content: '';
	position: absolute;
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	border: 1px solid #bbb;
	transition: .2s;
}
input[type="checkbox"]:hover + label:before {
	border-color: gray;
}
input[type="checkbox"] + label:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 9px;
	width: 5px;
	height: 12px;
	transition: .3s;
	box-sizing: border-box;
}
input[type="checkbox"]:checked + label:after {
	transform: rotate(45deg);
	border: 1px solid black;
	border-top: 0;
	border-left: 0;
}
input[type="checkbox"]:disabled + label {
	color: gray;
	cursor: not-allowed;
}
input[type="checkbox"]:disabled:checked + label:after {border-color:gray;
}
input[type="checkbox"]:disabled:checked + label:before {
	transition: none;
	border-color: #bbb;
}

/* Forms –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	height: 38px;
	padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: #fff;
	border: 1px solid #D1D1D1;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
textarea {
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	border: 1px solid #33C3F0;
	outline: 0;
}
label, legend {
	display: block;
	margin-bottom: .5rem;
	font-weight: 600;
}
fieldset {
	padding: 0;
	border-width: 0;
}
input[type="checkbox"], input[type="radio"] { display: inline; }
label > .label-body {
	display: inline-block;
	margin-left: .5rem;
	font-weight: normal;
}


/* Lists –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
ul   						{ list-style: circle inside;                    }
ol 							{ list-style: decimal inside;                   }
ol, ul 						{ padding-left: 0; margin-top: 0;               }
ul ul, ul ol, ol ol, ol ul 	{ margin: 1.5rem 0 1.5rem 3rem; font-size: 90%; }
li 							{ margin-bottom: 1rem;                          }


/* Code ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
	padding: .2rem .5rem;
	margin: 0 .2rem;
	font-size: 90%;
	white-space: nowrap;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
}
pre > code {
	display: block;
	padding: 1rem 1.5rem;
	white-space: pre;
}


/* Tables ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
th, td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid #E1E1E1;
}
th:first-child, td:first-child 	{ padding-left: 0;  }
th:last-child, td:last-child 	{ padding-right: 0; }


/* Blockquotes –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
blockquote {
	border-left: 2px solid #999;
	padding-left: 10px;
	font-style: italic;
	color: #999;
}
blockquote.posetive {
	border-color: #7FBF7F;
	color: #7FBF7F;
}
blockquote.negative {
	border-color: #FF7F7F;
	color: #FF7F7F;
}


/* Spacing –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
button, .button 									{ margin-bottom: 1rem;   }
input, textarea, select, fieldset 					{ margin-bottom: 1.5rem; }
pre, blockquote, dl, figure, table, p, ul, ol, form { margin-bottom: 2.5rem; }


/* Utilities –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width 		{ width: 100%; box-sizing: border-box;     }
.u-max-full-width 	{ max-width: 100%; box-sizing: border-box; }
.u-pull-right		{ float: right;                            }
.u-pull-left 		{ float: left;                             }
.u-center 			{ text-align: center;                      }

/* Font weight */
.strong { font-weight: 700; }
.light { font-weight: 300; }

/* Text style */
.textU { text-transform: uppercase; }

/* Colors */
.black { color: #000; }
.white { color: #fff; }

/* borders */
.bordered {
	border: 1px solid #bbb;
	border-radius: 4px;
	padding: 10px;
}
.bordered.block {
	padding: 30px;
	display: inline-block;
	margin: 1rem 0;
}

/* Unread notification */

span.unread {
	background-color: lightcoral;
	color: white;
	font-weight: 300px;
	padding: 2px 8px;
	border-radius: 15px;
}


/* Misc ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
	margin-top: 3rem;
	margin-bottom: 3.5rem;
	border-width: 0;
	border-top: 1px solid #E1E1E1;
}


/* Clearing ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after, .row:after, .u-cf {
	content: "";
	display: table;
	clear: both;
}

/* Media Queries –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Note: Лучший способ структурирования использования медиа-запросов - создать запросы
рядом с соответствующим кодом. Например, если вы хотите изменить стили для кнопок
на небольших устройствах, вставьте код мобильного запроса в раздел кнопок и настройте его
там.*/

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}